/* Write your CSS code here */
.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-height {
  height: 100px;
  display: none;
}

.trend-small {
  height: 50px;
  margin-bottom: 85px;
}

@media screen and (min-width: 768px) {
  .trend-small {
    display: none;
  }
  .image-height {
    height: 300px;
    display: inline;
  }
}

.small-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
@media screen and (min-width: 768px) {
  .small-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.trend-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px 6px 10px #bfbfbb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .trend-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 6px 10px #bfbfbb;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 20px;
  }
}
.logo {
  display: none;
}
.image-height-small {
  height: 100px;
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 60px;
    width: 200px;
    margin-top: 25px;
    display: inline;
  }
  .image-height-small {
    display: none;
  }
}
.image-card {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-trend-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;

  padding-left: 20px;
}

.username-text {
  width: 80%;
  background-color: #d7dfe9;
  outline: none;
  border: 0px solid transparent;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.username-head {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
}
.button {
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  width: 85%;
}
